body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

p{
    color:red; 
}

div.ui.stackable.menu {
    margin-bottom: 0 !important;
}

div.ui.menu .item{
    font-size: 1.5rem;
}

div.item.logo img{
    height:1.5rem;
}


/*Refuge Camp List*/
.campList{
    border-right:1px solid black;
    height:100%;
}

.hereMap{
    height:100%;
    width:100%;
    padding:0rem !important;
}

#hereMap{
    height:100%;
}

.ui.grid{
    height:92%;
    width:100%;
    margin:0 !important;
}

