body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div.ui.stackable.menu {
    margin-bottom: 0 !important;
}

div.ui.menu .item{
    font-size: 1.5rem;
}

div.item.logo img{
    height:1.5rem;
}


/*Refuge Camp List*/
.campList{
    border-right:1px solid black;
    height:100%;
    padding:0px !important;
}

.campList ul{
    padding:0px;
    list-style:none;
    height:100%;
    overflow-x:scroll;
    margin-top:0px;
}

.campList li{
    border:1px solid black;
    margin-left:.5rem !important;
}

    .campList li.active {
        border: 5px solid #a22139 !important;
    }

.campList li .name{
    font-weight:600;
    font-size:1.8rem;
}

.campList li .location {
    font-size:1rem;
    margin-bottom:.5rem;
}

.campList li .pop {
    font-size: .8rem;
    font-weight:600;
    color: #7c7c7c;
}

.campList li .score {
    position: relative;
    float: right;
    border: 1px solid green;
    font-weight:600;
    font-size:1.1em;
    border-radius:90px;
    height:45px;
    width:45px;
    margin:auto;
    padding-top: .7rem;
    text-align:center;
    top: -4rem;
}

    .campList li .score.good {
        border: 1px solid #457a45;
        color: #457a45;
    }

    .campList li .score.medium {
        border: 1px solid #e5bb46;
        color: #e5bb46;
    }

    .campList li .score.bad {
        border: 1px solid #ad2323;
        color: #ad2323;
    }

.ui.stacked.segment{
    margin-right:1rem;
    margin-bottom:.5rem;
    margin-top:.5rem !important;
}

.hereMap{
    height:100%;
    width:100%;
    padding:0rem !important;
}

#hereMap{
    height:100%;
}

.ui.grid{
    height:92%;
    width:100%;
    margin:0 !important;
}

.ui.modal{
    top:1rem !important;
}

.ui.modal .header{
    background:white !important;
}

.ui.modal .content{
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: none;
    padding-top:0px !important;
}

.ui.modal .actions {
    background: white !important;
}

.ui.modal .ref{
    margin-top:.5em;
    font-size: .8rem;
    color:#4f4f4f;
}

.ui.modal .eight.wide.column{
    text-align:center;
}

.ui.modal > .content{
    display:block !important;
    height: 40rem;
    overflow-y:scroll;
}
    
.ui.modal .ui.grid{
    height:auto;
}    


.ui.modal img {
    height:8rem;
}
