body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

p{
    color:red; 
}

div.ui.stackable.menu {
    margin-bottom: 0 !important;
}

div.ui.menu .item{
    font-size: 1.5rem;
}

div.item.logo img{
    height:1.5rem;
}


/*Refuge Camp List*/
.campList{
    border-right:1px solid black;
    height:100%;
    padding:0px !important;
}

.campList ul{
    padding:0px;
    list-style:none;
    height:100%;
    overflow-x:scroll;
    margin-top:0px;
}

.campList li{
    border:1px solid black;
    margin-left:.5rem !important;
}

    .campList li.active {
        background: #d1b593 !important;
    }

.campList li .name{
    font-weight:600;
    font-size:1.8rem;
}

.campList li .location {
    font-size:1rem;
    margin-bottom:.5rem;
}

.campList li .pop {
    font-size: .8rem;
    font-weight:600;
    color: #7c7c7c;
}

.campList li .score{

}

.ui.stacked.segment{
    margin-right:1rem;
    margin-bottom:.5rem;
    margin-top:.5rem !important;
}

.hereMap{
    height:100%;
    width:100%;
    padding:0rem !important;
}

#hereMap{
    height:100%;
}

.ui.grid{
    height:92%;
    width:100%;
    margin:0 !important;
}



