extends layout



block content
    div(class='ui stackable menu')
        div(class='item logo')
            img(src="/images/camps_icon.png")
        a(class='item') Add Camp
        a(class='item') More Info


    div(class="ui grid")
        div(class="four wide column campList")
            ul
                each c in camps
                    li(id="marker"+c.FID, class="ui stacked segment", onClick="funcs.centerMap("+c.LAT_DD+", "+c.LONG_DD+", "+c.FID+")")
                        div(class='name')= c.NAME_EN
                        div(class='location')= c.ADM1+", "+c.COUNTRY
                        div(class="pop")= "Population:"+c.POPULATION
                        div(class="score")

        div(class="twelve wide column hereMap")
            div(id="hereMap")



    script(src="javascripts/refugeHereMap.js")