doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='semantic/semantic.css')
    script(src='jQuery/jquery.min.js')
    script(src='semantic/semantic.min.js')

  body
    block content